{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"indent": ["off"],
		"no-console": "error",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
	}
}
