node_modules
/adapters
/angular
/cli
/detectors
/dist
/exporter
/formatters
/importer
/parser
/react
/rollup
/runtime
/schema
/svelte
/vue
packages/generator/test/generated/**/*.actual.*
packages/generator/test/generated/console*
/typesafe-i18n-*.tgz
/types
/webpack
/.eslintcache
.pnpm-debug.log