node_modules
/adapters
/cjs
/dist
/esm
/formatters
/node
/rollup
/svelte
/tests/generated/**/*.actual.output
/tests/generated/**/en
/tests/generated/**/de
/tests/generated/**/de-at
/tests/generated/console*
/typesafe-i18n-*.tgz