<div class="toolbar" role="banner">
	<img
		width="40"
		alt="Angular Logo"
		src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
	/>
</div>

<div class="content" role="main">
	<div>
		{{ LL.SELECTED_LOCALE() }}

		<select [(ngModel)]="selectedLocale" (change)="setLocale()">
			<option disabled>{{ LL.CHOOSE_LOCALE() }}</option>
			<option *ngFor="let locale of locales" [ngValue]="locale">{{ locale }}</option>
		</select>
	</div>

	<div>
		<h2>{{ LL.HI({ name: title }) }}</h2>

		<p>{{ LL.YOUR_NAME() }}</p>
		<input type="text" [(ngModel)]="title" />
	</div>

	<div>
		{{ LL.TODAY({ date: now }) }}
	</div>

	<div>
		<label>
			{{ LL.APPLES_LABEL() }}:
			<input type="number" [(ngModel)]="nrOfApples" min="{0}" />
		</label>

		<label>
			{{ LL.BANANAS_LABEL() }}:
			<input type="number" [(ngModel)]="nrOfBananas" min="{0}" />
		</label>
	</div>

	<div>
		<p>{{ LL.FRUITS({ nrOfApples, nrOfBananas }) }}</p>
	</div>
</div>
