{
	"semi": false,
	"singleQuote": true,
	"tabWidth": 3,
	"useTabs": true,
	"printWidth": 120,
	"arrowParens": "always",
	"trailingComma": "all",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "auto"
}
