name: run linters

on:
   pull_request:
      branches:
         - 'main'

jobs:
   lint:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3

         - uses: pnpm/action-setup@v2
           with:
              version: 8.1.1

         - name: install node
           uses: actions/setup-node@v2
           with:
              node-version: 18.15.0
              cache: 'pnpm'

         - run: pnpm install --no-save

         - name: run linters
           run: pnpm lint
