name: build & run tests

on:
   pull_request:
      branches:
         - 'main'

jobs:
   test:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v2

         - uses: pnpm/action-setup@v2.0.1

         - name: install node
           uses: actions/setup-node@v2
           with:
              node-version: 16
              cache: 'pnpm'

         - run: pnpm install --no-save

         - name: run test
           run: pnpm run test

         - name: build package
           run: pnpm run build

         - name: check output size
           uses: andresz1/size-limit-action@v1
           with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              build_script: build:browser
