name: run tests & bump version & publish to npm

on:
   push:
      branches:
         - 'main'

jobs:
   release:
      runs-on: ubuntu-latest
      if: "!contains(github.event.head_commit.message, 'chore')"
      steps:
         - uses: actions/checkout@v2

         - uses: pnpm/action-setup@v2.0.1

         - name: install node
           uses: actions/setup-node@v2
           with:
              node-version: 16
              cache: 'pnpm'

         - run: pnpm install --no-save

         - name: run test
           run: pnpm run test

         - name: bump version and create tag
           uses: 'phips28/gh-action-bump-version@master'
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           with:
              minor-wording: 'feat,feature'
              major-wording: 'major'

         - name: build package
           run: pnpm run build

         - name: create browser artifacts
           uses: actions/upload-artifact@v2
           with:
              name: typesafe-i18n-browser
              path: dist/

         - name: publish to npm
           uses: JS-DevTools/npm-publish@v1
           with:
              token: ${{ secrets.NPM_TOKEN }}
