name: run tests & bump version & publish to npm

on:
   push:
      branches:
         - 'master'

jobs:
   release:
      runs-on: ubuntu-latest
      if: "!contains(github.event.head_commit.message, 'chore')"
      steps:
         - uses: actions/checkout@v2

         - name: install node
           uses: actions/setup-node@v1
           with:
              node-version: 12

         - run: npm install

         - name: run test
           run: npm test

         # - run: npm run coverage

         # - name: output test coverage
         #   run: npm run coverage:output-report

         # - uses: actions/upload-artifact@v2
         #   with:
         #      name: coverage-report
         #      path: coverage-report.txt

         - name: build package
           run: npm run build

         - name: bump version and create tag
           uses: 'phips28/gh-action-bump-version@master'
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           with:
              minor-wording: 'feat,feature'
              major-wording: 'major'

         - name: create browser artifacts
           uses: actions/upload-artifact@v2
           with:
              name: typesafe-i18n-browser
              path: dist/

         - name: generate json schema
           run: npm run generate:json-schema

         - name: publish to npm
           uses: JS-DevTools/npm-publish@v1
           with:
              token: ${{ secrets.NPM_TOKEN }}
